/* eat shit and die */

/*                                                    ,iit1;.
                                                    :fGGGGGGCf;.
                                                   ;LCfffLCGG08i
                                                  ,GCfffttLGG08C:
                                                  :GLfLftttLCGGC;
                                                  ,Ltftt11ttLC11i
                                                   1t11ii1t1fLtfi:
                                                   ,t1i11111fCL11G1:,
                                                    iL111t1tti;iLGGGGLt;,
                                                ,it1fGLtt1i;:,itfCGGGG00Gf;.
                                              :tLGftfCL1i:,::;1tLCCCGGGGGG0L,
         .;;;;;;;;::::,,,,....               10GCttffCCffttttffLLCCCCCCCLG00Ci
         .tCCCCGGG000000GGGGCCC1           .tLGCLfffCGGGCffLLLLLLLLLfLCLCGGGGGi
          iCCCCCCGGG000000888880:          i0ffffff00800CfLLLLLftff1tfLtLCCLCCL.
          ,LCCCCCGGGG00000000088t         iCGL1ittfG0000CtLfLLftf11ii1t1fLtLCG0i
           1CCCCCCGGGGG000000008C.     .;f0GLLi;ttfC0000LtffLt1fCLLt111;iifLCGGG:
           :LCCCCCCGGGG0000000000;    ,fCGCCffi:tfLLG000L1ttf1tLCCCCLLLLtitfttfLf:
           .tCCCCCCGGGG0000000008f.,:itf11ii;;;:1fftfCCL11ti11tfLLLLLLCGGtLCCftttt,
            ;CGCCGCGGGGG000000000GtfLCLfi;;;;:,,i11i1iiiitt1iiii1tfffffLCLLffLftft:
            .tLLLLCCCGGGG000000000tii1111;::;;:,;iii;;i1tt1iiiiiii1tfffLLLLLtfffLf:
             ...,,,::;;ii11ttfLLLCti1t11iii;:;:,;;;::;iiii;;;;:;;;:::;;11fffLfffft.
              ..            .....,.itLLLft1i;:,.                ... .....:,,,,:::.
                   ................,:;:,,...
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(220 18% 20%);
    color: white;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

canvas {
    image-rendering: pixelated; image-rendering: crisp-edges;
}